@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    color: #151716;
}

.header {
    display: block;
    padding: 20px 0px 20px 40px;
    background: rgba(6,7,7,0.85);
    -webkit-backdrop-filter: blur(150px);
    backdrop-filter: blur(150px);
    position: relative;
}

.header-logo__link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 126px;
    height: 35px;
}

.header-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 64px;
    position: relative;
    z-index: 20;
}

.header--home .header-inner {
    min-height: 95px;
}

.header-center {
    margin-left: 25px;
}

.header-slogan__text {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #939393;
}
